<%- include('../partials/head') %>
    <h1>Edit Comment</h1>
    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
      <textarea name="comment" rows="8" cols="30">
        <%= comment.comment %>
      </textarea>
      <br>
      <button>Save</button>
    </form>
    <a href="/comments">Go to comments</a>
<%- include('../partials/footer') %>
