html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  background-color: #11151c;
  /* color: #EEDFF8; */
  color: #9d4edd;
  height: 100vh;
}
h1 {
  font-weight: 800;
}
