<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Sign Up!</h1>
    <form action="/register" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="******">
      </div>
      <button>Register</button>
    </form>
  </body>
</html>
