<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Top Secret</title>
  </head>
  <body>
    <h1>Secret Page</h1>
    <form action="/logout" method="post">
      <button>Log out</button>
    </form>

  </body>
</html>
